<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header>
        
        <div class="jumbo">
            <div class="d-flex justify-content-between mx-4" id="navbarNav">
                <div class="d-flex flex-row m-2">
                    
                            <button class="me-2 btn-info btn-sm">
                                 <a class="nav-link text-dark" aria-current="page" href="@Url.Action("Index", "Pizza")">Admin</a>
                            </button>
                         <!-- code omitted --> <partial name="_LoginPartial" />
                  
                </div>
                <div class="m-2">
                    <button class="me-2 btn-info btn-sm">
                        <a class="nav-link text-dark" aria-current="page" href="">Novità</a>
                    </button>
                    <button class="me-2 btn-info btn-sm">
                        <a class="nav-link text-dark" aria-current="page" href="">Prenota</a>
                    </button>
                </div>
            </div>
           
            

        </div>
    </header>
    <div class="container-fluid bg-light bg-gradient">
        @RenderBody()
    </div>
    <footer class="bg-dark bg-gradient d-flex justify-content-center gx-5 text-white p-3 mt-5">
        <div class="left-foot d-flex flex-column align-items-center">
            <h3>Info:</h3>
            <p>Orario di apertura: 10:00/14:00 - 18:00/24:00</p>
            <p>Giorni di apertura: Mar - Dom | Riposo settimanale: Lunedì</p>
            <p>Contattaci: 333 3333333</p>
            <p>Come trovarci: Gira alla seconda, poi in fondo a destra</p>
        </div>
        <div class="right-foot d-flex flex-column align-items-center">
            <img class="w-25" src="https://images.freeimages.com/images/premium/previews/5223/52239220-vintage-screen-printed-pizza-poster.jpg" />
        </div>
    </footer>
</body>
</html>
