<div class="container-fluid text-center">
    <h2 class="m-5">
        Nati nel lontano 1952 abbiamo sempre messo amore e impegno in quella che consideriam,o la nostra missione, rendere ognio esperienza da noi degna di essere ricordata. Siamo da sempre a conduzione famigliare, ma ci affidiamo ai più grandi professionisti e artisti della pizza per darvi sempre il massimo in ogni morso.
    </h2>

    <h1 class="m-5"><
        I nostri artisti della pizza!
    </h1>

    <div class="row m-4">
        <div class="col-6 foto">
            <img src="https://shop.divisalavoro.com/WebRoot/StoreIT7/Shops/54770/534F/A962/8BC1/DEB6/BA63/3E95/9310/E678/ABBIGLIAMENTO-PIZZAIOLO.jpg" />
        </div>
        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
            <p><strong>Nome:</strong> Adalgisio</p>
            <p><strong>Nick:</strong> Er Pummarola 'Ngoppa'</p>
            <p><strong>Specialità:</strong> Lancia pizze fino ai 2 metri di altezza senza riprenderle al volo</p>
        </div>
    </div>


    <div class="row m-4">
        <div class="col-6 foto">
            <img src="https://www.accademiastudi.net/articoli/diploma/come-diplomarsi/diploma-pizzaiolo.jpg" />
        </div>
        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
            <p><strong>Nome:</strong> Severesto</p>
            <p><strong>Nick:</strong> Il Farinoso</p>
            <p><strong>Specialità:</strong> Fa sparire tutta la farina dal banco, nessun sà come fa o dove la mette, ma se ci si ditrae ti fa fuori 3 kg di farina per una sola, stupefacente pizza.</p>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-6 foto">
            <img src="https://www.peperoncinorosso.com/wp-content/uploads/2021/11/WhatsApp-Image-2021-11-16-at-11.24.35.jpeg" />
        </div>
        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
            <p><strong>Nome:</strong> Ervio</p>
            <p><strong>Nick:</strong> Can che dorme</p>
            <p><strong>Specialità:</strong> Distrugge mosche e zanzare al primo colpo, non gli interessa se contro un muro bianco, un frigo, la schiena o la faccia di qualcuno. E quest'ultima è la posizione che preferisce.</p>
        </div>
    </div>
    <a class="btn-success py-2 px-4 rounded-pill" asp-controller="Home" asp-action="Index">Indietro</a>
</div>
