@{
    ViewData["Title"] = "Una Pizza al giorno...";
}

<div class="text-center my-4">
    <h3 class="m-5">
        <a class="btn-info rounded-pill px-4 py-2" href="/Home/Pizze">Vai alle pizze</a>
    </h3>
    <ul class="d-flex text-decoration-none list-unstyled">
        <li class="m-4">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="ChiSiamo">Chi siamo</a>
        </li>
        <li class="m-4">
            <a class="btn btn-secondary" href="">Dicono di noi</a>
        </li>
        <li class="m-4">
            <a class="btn btn-secondary" href="">Lista ingredienti</a>
        </li>
        <li class="m-4">
            <a class="btn btn-secondary" href="">Dove trovarci</a>
        </li>
    </ul>
</div>

